<!-- Signup Section -->
<section id="signup" class="bg-signup">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sign Up for Tutoring</h2>
            </div>
        </div>
        <div class="row"></div>
        <div class="row text-center">
            <!-- Zoom Meeting Link Button -->
            <div class="col-md-4">
                <p>Already signed up? Join the session here:<br></p>
                <a href="https://us06web.zoom.us/j/86571042746?pwd=e7sBY4TFDTDpWGcp1hPJnTyjtkDaag.1" target="_blank" class="page-scroll btn btn-xl">Join Zoom Session</a>
            </div>
            <!-- Form Button -->
            <div class="col-md-4">
                <p>Interested? Sign up here:<br></p>
                <a href="https://forms.gle/AR8KkLfMeADCmeeQ6" target="_blank" class="page-scroll btn btn-xl">Enroll Now</a>
            </div>
            <!-- Email List Sign-up Button -->
            <div class="col-md-4">
                <p>More information or team updates:</p>
                <a href="https://forms.gle/JAGS2YJkgAbxSGjPA" target="_blank" class="page-scroll btn btn-xl">Subscribe to Updates</a>
            </div>
        </div>
    </div>
</section>