<!-- Tutor Section -->
<section id="tutor" class="bg-img-third">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Tutors Wanted</h2>
                <h3 class="section-subheading text-muted">Expanding our team with only the highest quality volunteers</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h4 class="service-heading">Requirements:</h4>
                <p>• 14 years or older <br>• Access to Internet, Zoom, microphone (on device) <br>• Available Mondays & Fridays 4:30-5:30 PM PST <br>• Good communication skills</p>
                </ul>
                <h4 class="service-heading">Benefits:</h4>
                <p>• Volunteer hours <br>• Educational experience <br>• Communications experience <br>• Helping our impact</p>
                <p class="text-muted">   </p>
                <br><br>
                <a href="https://forms.gle/vHNkg91MNTx8YXLi8" target="_blank" class="page-scroll btn btn-xl">Apply Now</a>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>